<h2>Edit the drone: {{name}}</h2>

<form action="/drone/{{_id}}/edit" method="post">
  <label> Name:
    <input type="text" name="name" value="{{name}}" />
  </label>

  <label> Propellers:
    <input type="text" name="propellers" value="{{propellers}}" />
  </label>

  <label> Max Speed:
  <input type="text" name="maxSpeed" value="{{maxSpeed}}" />
  </label>

  <button>Save changes</button>
</form>
